/**
 * Less for act.Main
 */
.main-base-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.main-sidenav {
}
.main-toolbar-container {
	.md-icon-button {
		i {
			color: @white;
		}
	}
}